<p class="post-date text-bold">
  {% if page.author %}
    <span class="text-upcase">{{ page.author }}</span> / 
  {% endif %}
  {% if page.date %}
    <span class="text-upcase">{{ page.date | date: "%B %Y"}}</span>
  {% endif %}

{% if site.theme_config.show_reading_time == true %}
  {% capture words %}
  {{ content | number_of_words | minus: 180 }}
  {% endcapture %}
  {% unless words contains '-' %}
  {{ words | strip | prepend: '(' | append: ' Words, ' }}
  {{ words | plus: 180 | divided_by: 180 | append: ' Minutes)' }}
  {% endunless %}
{% endif %}
</p>


{% if page.title == "About Me" %}
<div class="social-media">
  <a href="https://www.instagram.com/akashv20/">
    <img src="/assets/images/insta.png" alt="Instagram" width="30" height="30">
  </a>
  <a href="https://www.linkedin.com/in/akash-vemulapalli-109a5813a/">
    <img src="/assets/images/linkedin.png" alt="LinkedIn" width="30" height="30">
  </a>
  <a href="https://twitter.com/akvbell">
    <img src="/assets/images/twitter.png" alt="Twitter" width="30" height="30">
  </a>
  <a href="https://open.spotify.com/user/akashnv">
    <img src="/assets/images/spotify.png" alt="Spotify" width="25" height="25">
  </a>
</div>
{% endif %}




{% if site.theme_config.show_tags == true %}
  <div class="">
    {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
{% endif %}
